body {
 background-color: #DFFAF0;
    color: #333333;
    font-family: Calibri, Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
}

header, footer {
  text-align: center;
  margin-bottom: 20px;
}

h1, h2 {
  color: #333;
}
